/* ============================
   Tailwind base
============================= */
@import "tailwindcss";
@plugin "daisyui";

/* Swiper */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/autoplay";


@import 'react-phone-input-2/lib/style.css';

/* ============================
   SIMWINDY GLOBAL BRAND THEME
============================= */
:root {
  --brand-name: "SimWindy";
  --brand-color: #175191;

  --background: #ffffff;
  --primary: #175191;
  --secondary: #5B6B6F;

  --orange: #ED8A17;
  --tan-orange: #d3945d79;
  --vivid-orange: #f6831f42;

  --black: #102A2D;
  --grayish-blue: #4a7a8631;

  --peach: #FAE0C2;
  --light-gray: #f3f3f3;
}

/* ============================
   BASE STYLES
============================= */
body {
  background: var(--background);
  color: var(--secondary);
  font-family: var(--font-outfit), sans-serif; /* Outfit font variable */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

/* Scroll offset for sticky navbar */
.scroll-offset {
  scroll-margin-top: 80px; /* adjust navbar height */
}

/* ============================
   BRAND UTILITIES
============================= */

/* Brand text color */
.brand-text {
  color: var(--brand-color);
}

/* Brand background color */
.brand-bg {
  background-color: var(--brand-color);
}

/* Optional utility classes */
.bg-peach {
  background-color: var(--peach);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.text-primary {
  color: var(--primary-text);
}

.text-secondary {
  color: var(--secondary);
}

/* No scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.react-tel-input .flag-dropdown {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    bottom: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #f3f4f6 !important;
    border-image: initial;
    border-radius: 3px 0px 0px 3px;
    padding: 0px;
}

/* Drawer Animations */
@layer utilities {
  @keyframes drawerSlideIn {
    from { transform: translateX(100%); }
    to   { transform: translateX(0); }
  }
  @keyframes drawerSlideOut {
    from { transform: translateX(0); }
    to   { transform: translateX(100%); }
  }

  .drawer-open {
    animation: drawerSlideIn 0.30s ease-out forwards;
  }

  .drawer-close {
    animation: drawerSlideOut 0.30s ease-in forwards;
  }
}
